@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido práctica Azure</h1>
    <p>Estoy aprendiendo <a href="https://leonardopersonalweb2.azurewebsites.net/">Integración ASP.NET Core con Microsoft Azure</a>.</p>
</div>
